# Development and testing dependencies
cohere>=4.33
openai>=1.1.1
anthropic>=0.19.0
pytest>=7.4.0
requests>=2.31.0
pylint>=3.0.2
mistralai>=0.1.5
opentelemetry-api>=1.24.0
opentelemetry-sdk>=1.24.0
opentelemetry-exporter-otlp>=1.24.0