export INIT_DB_HOST="127.0.0.1"
export INIT_DB_PORT="9000"
export INIT_DB_DATABASE="<DB_NAME>"
export INIT_DB_USERNAME="<DB_USER>"
export INIT_DB_PASSWORD="<DB_PASSWORD>"
export SQLITE_DATABASE_URL="file:/app/client/data/data.db"
