# Development
pytest
pytest-asyncio
requests
schedule
pylint

# Gen AI
cohere
openai
anthropic
mistralai
boto3
botocore
google-genai
azure-ai-inference
reka-api
multion
mem0ai
julep
ai21
controlflow
assemblyai
firecrawl-py
together
transformers
groq
elevenlabs

# Vector DBs
chromadb
pinecone
qdrant-client
pymilvus
astrapy

# Frameworks
langchain
langchainhub

# GPU
xmltodict

# Utilities
bs4
torch
aiohttp
pyyaml

# OpenTelemetry
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation
