# Development
pytest>=7.4.0
pytest-asyncio>=0.23.6
requests>=2.31.0
pylint>=3.0.2

# Gen AI
cohere>=5.0.0
openai>=1.1.1
anthropic>=0.21.0
mistralai>=0.1.0

# Vector DBs
chromadb>=0.4.0
pinecone-client>=2.2.0

# Frameworks
langchain
langchainhub
langchain_community

# Utilities
bs4
tiktoken>=0.1.1

# OpenTelemetry
opentelemetry-api>=1.24.0
opentelemetry-sdk>=1.24.0
opentelemetry-exporter-otlp>=1.24.0
opentelemetry-instrumentation>=0.45b0