name: Publish Package to npmjs
on:
  workflow_dispatch:
  push:
    tags: [ 'ts-*.*.*' ]

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        name: Setup .npmrc file to publish to npm
        with:
          node-version: '20.x'
          cache: 'npm'
          registry-url: 'https://registry.npmjs.org'
        working-directory: sdk/typescript

      - name: Install dependencies
        working-directory: sdk/typescript
        run: npm ci

      - name: Publish package
        working-directory: sdk/typescript
        run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
