name: Pylint

on:
  pull_request_target:
    branches: [ "main" ]
    paths:
      - 'sdk/python/**'

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout base code
      uses: actions/checkout@v2
      with:
        ref: ${{ github.event.pull_request.head.sha }}

    - name: Fetch main branch
      run: git fetch origin main

    - name: Check if version was updated in pyproject.toml
      run: |
        sudo apt-get install -y python3-tomli
        
        echo "Checking current version in pyproject.toml"
        python3 -c "import tomli; print(tomli.load(open('sdk/python/pyproject.toml', 'rb')))" || { echo "Failed to read pyproject.toml"; exit 1; }

        current_version=$(python3 -c "import tomli; data=tomli.load(open('sdk/python/pyproject.toml', 'rb')); print(data.get('tool', {}).get('poetry', {}).get('version', 'Version not found'))")
        main_version=$(git show origin/main:sdk/python/pyproject.toml | python3 -c "import tomli; import sys; data=tomli.load(sys.stdin.buffer); print(data.get('tool', {}).get('poetry', {}).get('version', 'Version not found'))")
        
        echo "Current branch version: $current_version"
        echo "Main branch version: $main_version"
        
        if [ "$current_version" = "Version not found" ] || [ "$main_version" = "Version not found" ]; then
          echo "Error: Could not find version in pyproject.toml." >&2
          exit 1
        fi
        
        if [ "$current_version" = "$main_version" ]; then
          echo "Version in pyproject.toml was not updated. Please update the version." >&2
          exit 1
        else
          echo "Version in pyproject.toml was updated."
        fi

  lint:
    runs-on: ubuntu-latest
    needs: check
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
    - name: Checkout base code
      uses: actions/checkout@v2
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Install dependencies
      working-directory: sdk/python
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r tests/requirements.txt
    
    - name: Analysing the code with pylint
      working-directory: sdk/python
      run: |
        pylint $(git ls-files '*.py')
