name: Pylint

on:
  pull_request_target:
    branches: [ "main" ]
    paths:
      - 'sdk/python/**'

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    steps:
    - name: Checkout base code
      uses: actions/checkout@v5
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Install dependencies
      working-directory: sdk/python
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r tests/requirements.txt
    
    - name: Analysing the code with pylint
      working-directory: sdk/python
      run: |
        pylint $(git ls-files '*.py')
