name: reviewdog
on:
  pull_request_target:
    branches: [ "main" ]
    paths:
      - 'docs/**'
      - 'README.md'
      - 'otel-gpu-collector/README.md'
      - 'sdk/python/README.md'
      - 'sdk/typescript/README.md'
      - 'src/client/README.md'

jobs:
  vale:
    name: runner / vale
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: errata-ai/vale-action@v2.1.1
